@media (max-width: 575.98px) { 
    .navbar-brand img {
        padding-top: 10px;
        width: 102px;
    }
    .baner_text h3 {
        font-size: 23px;
        color: #363636;
    }
    .baner_text p {
        font-size: 13px;
        color: #222222;
    }
    #banner {
        padding-top: 137px;
        padding-bottom: 70px;
    }
    .atoms a {
        font-size: 12px;
        padding: 11px 14px;
    }
    #butonsite {
        padding-top: 3px;
        padding-bottom: 10px;
    }
    .atoms.fri {
        padding-left: 162px;
    }
    .atoms.rel {
        padding-left: 194px;
        padding-bottom: 14px;
    }
    .atoms.tech {
        padding-top: 12px;
        padding-left: 61px;
    }
    .reser h2 {
        font-size: 18px;
    }
    .service_text p {
        font-size: 11px;
    }
    .service_item h3 {
        font-size: 11px;
        padding-top: 10px;
    }
    .service_item img {
        padding-top: 20px;
        width: 31px;
    }
    .service_item p {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .twopt .bc {
        font-size: 12px;
        padding: 12px 17px;
    }
    .twopt .bc2 {
        font-size: 13px;
        padding: 10px 14px;
    }

    .about_text h3 {
        font-size: 31px;
    }
    .about_text h5 {
        font-size: 16px;
    }
    .about_text p {
        font-size: 14px;
    }
    #about {
        padding-top: 28px;
        padding-bottom: 17px;
    }
    .attwo_texxt h3 {
        font-size: 21px;
    }
    .attwo_texxt h4 {
        font-size: 15px;
    }
    .attwo_texxt p {
        font-size: 12px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    #auttwo {
        padding-top: 0px;
        padding-bottom: 9px;
    }

    .trust_text h2 {
        font-size: 25px;
    }

    .trust_text p {
        font-size: 14px;
    }

    .trust_text a {
        font-size: 12px;
        padding: 15px 26px;
    }
    #trust {
        padding-top: 26px;
        padding-bottom: 51px;
    }
    .proces h2 {
        font-size: 19px;
    }
    .heth_content h4 {
        font-size: 16px;
        padding-top: 11px;
    }
    .health_pc img {
        padding: 40px 40px;
        width: 119px;
    }
    .heth_content p {
        font-size: 12px;
    }
    .shu a {
        padding: 10px 17px;
    }
    .service_text h2 {
        font-size: 21px;
    }
    #serveice_part {
        padding-top: 25px;
        padding-bottom: 2px;
    }
    #check {
        padding-top: 35px;
        padding-bottom: 6px;
    }
    .chek h2{
        font-size: 18px;
    }
    .txttes h3 {
        font-size: 35px;
    }
    .fot_ft_ic img {
        width: 101px;
    }
    #footer {
        padding-top: 19px;
        padding-bottom: 14px;
    }
    .fotall_img img{
        width: 80px;
    }
    .fotall_img img {
        width: 62px;
    }
    .right_img img {
        padding-left: 1px;
    }
    #header {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .right_img img {
        padding-left: 1px;
        display: none;
    }

    .navbar-brand img {
        padding-top: 41px;
        width: 102px;
    }
    .header_icon a{
        font-size: 12px;
        padding-left: 6px;
    }
    .header_icon a {
        font-size: 10px;
    }
    #banner {
        padding-top: 152px;
        padding-bottom: 68px;
    }
    .baner_text h3 {
        font-size: 29px;
        color: #363636;
    }
    .baner_text p {
        font-size: 14px;
        color: #fff;
    }
    .bc.resbut {
        display: none;
    }
    .bc2.senres {
        padding: 0px 43px;
        font-size: 14px;
    }
    .atoms.tech {
        padding-left: 562px;
    }

    .atoms a {
        font-size: 16px;
    }
    .atoms.fri {
        padding-left: 261px;
    }
    .atoms.fri {
        margin-top: -24px;
    }
    .atoms.tech {
        margin-top: -26px;
    }

    .reser h2 {
        font-size: 23px;
    }
    .service_text p {
        font-size: 14px;
    }

    .service_item h3 {
        font-size: 13px;
        padding-top: 8px;
    }

    .service_item img {
        padding-top: 14px;
        width: 40px;
    }

    .service_item p {
        font-size: 12px;
        padding-bottom: 30px;
    }
    .about_text h3 {
        font-size: 34px;
    }
    .about_text h5 {
        font-size: 19px;
    }
    .about_text p {
        font-size: 14px;
    }
    #about {
        padding-top: 31px;
        padding-bottom: 36px;
    }
    .twopt .bc2 {
        font-size: 11px;
        padding: 10px 17px;
    }
    .attwo_texxt h3 {
        font-size: 28px;
        padding-top: 17px;
    }

    .attwo_texxt h4 {
        font-size: 20px;
    }

    .attwo_texxt p {
        font-size: 12px;
        padding-bottom: 11px;
    }
    .attwo_texxt {
        padding-left: 134px;
    }
    .trust_text h2 {
        font-size: 31px;
    }
    .trust_text p {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .trust_text a {
        font-size: 9px;
        padding: 13px 17px;
    }

    .proces h2 {
        font-size: 24px;
    }
    .service_text p {
        font-size: 12px;
    }

    .heth_content h4 {
        font-size: 16px;
        padding-top: 12px;
    }

    .heth_content p {
        font-size: 13px;
    }
    .shu a {
        padding: 10px 19px;
        font-size: 13px;
    }
    .twopt .bc {
        font-size: 14px;
        padding: 9px 16px;
    }
    .txttes h3 {
        font-size: 36px;
    }
    .value_icn h5 {
        font-size: 13px;
        padding-left: 25px;
    }
    #serveice_part {
        padding-top: 9px;
        padding-bottom: 0px;
    }
    .service_text h2 {
        font-size: 18px;
    }
    #check {
        padding-top: 33px;
        padding-bottom: 6px;
    }
    .fotall_img img{
        width: 50px;
    }
    .fot_ft_ic img{
        width: 90px;
    }

}


@media (max-width: 991.98px) {
    .right_img img {
        margin-top: -20px;
        padding-left: 6px;
    }

    .navbar-brand img {
        width: 124px;
    }

    .atoms.tech {
        padding-left: 656px;
    }

    .atoms.fri {
        padding-left: 339px;
    }
    .fri a {
        padding: 54px 59px;
    }


}




















